WebTestMart/ProductCatalogService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.vinu.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductCatalogService" targetNamespace="http://webservice.vinu.com/">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.vinu.com/" schemaLocation="http://vinus-lenovo:8080/WebTestMart/ProductCatalogService?xsd=1"/>
</xsd:schema>
</types>
<message name="fetchCategories">
<part element="tns:fetchCategories" name="parameters"/>
</message>
<message name="fetchCategoriesResponse">
<part element="tns:fetchCategoriesResponse" name="parameters"/>
</message>
<message name="getProducts">
<part element="tns:getProducts" name="parameters"/>
</message>
<message name="getProductsResponse">
<part element="tns:getProductsResponse" name="parameters"/>
</message>
<message name="addProduct">
<part element="tns:addProduct" name="parameters"/>
</message>
<message name="addProductResponse">
<part element="tns:addProductResponse" name="parameters"/>
</message>
<message name="getProducts_v2">
<part element="tns:getProducts_v2" name="parameters"/>
</message>
<message name="getProducts_v2Response">
<part element="tns:getProducts_v2Response" name="parameters"/>
</message>
<portType name="TestMartCatalog1">
<operation name="fetchCategories">
<input message="tns:fetchCategories" wsam:Action="Fetch_Categories"/>
<output message="tns:fetchCategoriesResponse" wsam:Action="http://webservice.vinu.com/TestMartCatalog1/fetchCategoriesResponse"/>
</operation>
<operation name="getProducts">
<input message="tns:getProducts" wsam:Action="http://webservice.vinu.com/TestMartCatalog1/getProductsRequest"/>
<output message="tns:getProductsResponse" wsam:Action="http://webservice.vinu.com/TestMartCatalog1/getProductsResponse"/>
</operation>
<operation name="addProduct">
<input message="tns:addProduct" wsam:Action="http://webservice.vinu.com/TestMartCatalog1/addProductRequest"/>
<output message="tns:addProductResponse" wsam:Action="http://webservice.vinu.com/TestMartCatalog1/addProductResponse"/>
</operation>
<operation name="getProducts_v2">
<input message="tns:getProducts_v2" wsam:Action="http://webservice.vinu.com/TestMartCatalog1/getProducts_v2Request"/>
<output message="tns:getProducts_v2Response" wsam:Action="http://webservice.vinu.com/TestMartCatalog1/getProducts_v2Response"/>
</operation>
</portType>
<binding name="ProductCatalogPortBinding" type="tns:TestMartCatalog1">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="fetchCategories">
<soap:operation soapAction="Fetch_Categories"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProducts_v2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductCatalogService">
<port binding="tns:ProductCatalogPortBinding" name="ProductCatalogPort">
<soap:address location="http://vinus-lenovo:8080/WebTestMart/ProductCatalogService"/>
</port>
</service>
</definitions>
